.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #f2c4ce; 
}

footer {
  text-align: center;
  padding: 30px;
  color: #d6d6d6;
  background-color: #4F4F51;
  margin-top: 60px;
  border-top: 2px solid #f58f7c; 
}
