* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2C2B30; 
  color: #d6d6d6; 
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
